cask "ocideck" do
  version "{{VERSION}}"
  sha256 "{{MACOS_SHA256}}"

  url "{{MACOS_URL}}"
  name "OciDeck"
  desc "Open-source presentation app for decks, notes, and collaborative sessions"
  homepage "https://ocideck.librekat.nl"

  app "OciDeck.app"
end
